.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/databricks/databricks/1.69.0/windows_amd64/CHANGELOG.md
.terraform/providers/registry.terraform.io/databricks/databricks/1.69.0/windows_amd64/LICENSE
.terraform/providers/registry.terraform.io/databricks/databricks/1.69.0/windows_amd64/NOTICE
.terraform/providers/registry.terraform.io/databricks/databricks/1.69.0/windows_amd64/terraform-provider-databricks_v1.69.0.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/5.89.0/windows_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/5.89.0/windows_amd64/terraform-provider-aws_v5.89.0_x5.exe
.terraform.lock.hcl
